<div class="vehicles-management-container">


  <app-vehicles-create-and-edit
    (cancelRequested)="onCancelRequested()"
    (vehicleAddRequested)="onVehicleAddRequested($event)"
    (vehicleUpdateRequested)="onVehicleUpdateRequested($event)"
    [vehicle]="vehicleData"
    [editMode]="editMode">
  </app-vehicles-create-and-edit>


  <mat-card class="vehicle-table-card">
    <mat-card-title class="vehicle-mat-card-tittle">Vehicle List</mat-card-title>
    <div class="table-wrapper">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>


        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let vehicle"> {{ vehicle.id }} </td>
        </ng-container>


        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
          <td mat-cell *matCellDef="let vehicle"> {{ vehicle.model }} </td>
        </ng-container>


        <ng-container matColumnDef="plate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Plate </th>
          <td mat-cell *matCellDef="let vehicle"> {{ vehicle.plate }} </td>
        </ng-container>


        <ng-container matColumnDef="max_load">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Load </th>
          <td mat-cell *matCellDef="let vehicle"> {{ vehicle.max_load }} </td>
        </ng-container>


        <ng-container matColumnDef="volume">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume </th>
          <td mat-cell *matCellDef="let vehicle"> {{ vehicle.volume }} </td>
        </ng-container>


        <ng-container matColumnDef="photo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Photo </th>
          <td mat-cell *matCellDef="let vehicle"> <img [src]="vehicle.url_image" alt="Vehicle Photo" width="50"/> </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let vehicle">
            <button mat-icon-button color="primary" (click)="onEditItem(vehicle)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeleteItem(vehicle)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>


      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>

</div>
