.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container mat-card {
  width: 50%;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 12px;
}

.register-user {
  display: flex;
  flex-direction: column;
}

.register-user mat-form-field {
  width: 100%;
  --mdc-outlined-text-field-focus-outline-color: #000000;
  --mdc-outlined-text-field-focus-label-text-color: #000000;
}

.title {
  margin: 5px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: x-large;
}

button {
  width: 48%;
  height: 40px;
  margin: 12px 0;
}

button:enabled {
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .container mat-card {
    width: 80%;
  }
}

@media (max-width: 375px) {
  .container mat-card {
    width: 100%;
  }
}
