<mat-card class="add-trip-card">
  <mat-card-header >
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-button-toggle class="btn-card">Regresar</mat-button-toggle>
    </div>
    <mat-grid-list cols="3"  rowHeight="80px">
      <mat-grid-tile class="text-inside-grid">{{merchandise.product}}</mat-grid-tile>
      <mat-grid-tile> <div class="text-inside-grid">Fecha de pedido: <p>{{merchandise.date}}</p></div></mat-grid-tile>
      <mat-grid-tile> <div class="text-inside-grid">Costo total: <p>{{merchandise.travel_price}}</p></div></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="150px">
      <mat-grid-tile >
        <img src="./assets/images/yogurt.jpg" style="width:60%; height:80%;">
      </mat-grid-tile>
      <mat-grid-tile>

        <div class=" text-inside-grid">
          <div>
            N° de pedido: <p>{{merchandise.id}}</p>
          </div>
          <mat-button-toggle class="btn-card">Seguir pedido</mat-button-toggle>
        </div>
      </mat-grid-tile>
      <mat-grid-tile> </mat-grid-tile>
    </mat-grid-list>
    <p>Seguimiento de carga</p>
    <mat-grid-list cols="5" rowHeight="70px" class="progress-bar">
      <!-- Paso 1 -->
      <mat-grid-tile>
        <div class="step">
          <mat-icon class="icon">shopping_cart</mat-icon>

        </div>
      </mat-grid-tile>

      <!-- Paso 2 -->
      <mat-grid-tile>
        <div class="step">
          <mat-icon class="icon">check_circle</mat-icon>

        </div>
      </mat-grid-tile>

      <!-- Paso 3 -->
      <mat-grid-tile>
        <div class="step">
          <mat-icon class="icon">build_circle</mat-icon>

        </div>
      </mat-grid-tile>

      <!-- Paso 4 -->
      <mat-grid-tile>
        <div class="step">
          <mat-icon class="icon">local_shipping</mat-icon>

        </div>
      </mat-grid-tile>

      <!-- Paso 5 -->
      <mat-grid-tile>
        <div class="step">
          <mat-icon class="icon">done</mat-icon>

        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="5" rowHeight="30px" >

      <mat-grid-tile>
        <p class="label">Recibimos tu pedido</p>
      </mat-grid-tile>

      <!-- Paso 2 -->
      <mat-grid-tile>
        <p class="label">Pedido confirmado</p>
      </mat-grid-tile>

      <!-- Paso 3 -->
      <mat-grid-tile>
        <p class="label">Preparando producto</p>
      </mat-grid-tile>

      <!-- Paso 4 -->
      <mat-grid-tile>
        <p class="label">Listo para enviar</p>
      </mat-grid-tile>

      <!-- Paso 5 -->
      <mat-grid-tile>
        <p class="label">Pedido entregado</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="date">02/10/2024 21:12</p>
      </mat-grid-tile>

      <!-- Paso 2 -->
      <mat-grid-tile>
        <p class="date">12/10/2024 12:13</p>
      </mat-grid-tile>

      <!-- Paso 3 -->
      <mat-grid-tile>
        <p class="date">12/10/2024 14:56</p>
      </mat-grid-tile>

      <!-- Paso 4 -->
      <mat-grid-tile>
        <p class="date">12/10/2024 15:12</p>
      </mat-grid-tile>

      <!-- Paso 5 -->
      <mat-grid-tile>
        <p class="date">12/10/2024 16:24</p>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
</mat-card>
