<p>Sigue tu Orden</p>

<mat-card class="add-trip-card">
  <mat-card-header >
    <mat-card-title >Iniciando el envío</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-label class="row">Hora: 08:00AM</mat-label>
    </div>
    <div>
      <mat-label class="row">Estado: El envío ha sido confirmado y está listo para ser despachado</mat-label>
    </div>
    <div>
      <mat-label>Detalles del envío</mat-label>
      <mat-list role="list">
        <mat-list-item role="listitem">Producto: Lácteos (leche, yogur, queso)</mat-list-item>
        <mat-list-item role="listitem">Cantidad: 500 kg</mat-list-item>
        <mat-list-item role="listitem">Temperatura requerida: 4°C</mat-list-item>
      </mat-list>
    </div>
    <div>
      <mat-label>Detalles del Vehículo y Conductor:</mat-label>
      <mat-list role="list">
        <mat-list-item role="listitem">Nombre del Conductor: Carlos Pérez</mat-list-item>
        <mat-list-item role="listitem">Placa del Vehículo: ABC-123</mat-list-item>
        <mat-list-item role="listitem">Refrigerado - Mercedes-Benz Sprinter</mat-list-item>
        <mat-list-item role="listitem">+51 987654321</mat-list-item>
      </mat-list>
    </div>
    <div>
      <mat-label>Medidas de Seguridad:</mat-label>
      <mat-list role="list">
        <mat-list-item role="listitem">Refrigeración: Sistema de refrigeración activo, temperatura monitoreada en tiempo real.</mat-list-item>
        <mat-list-item role="listitem">Control de Vibraciones: Suspensión mejorada para minimizar vibraciones, protegiendo la integridad de los productos.</mat-list-item>
        <mat-list-item role="listitem">Seguridad de la Carga: Cámaras internas en el compartimento de carga para monitoreo constante, alarma de apertura no autorizada.</mat-list-item>
      </mat-list>
    </div>



  </mat-card-content>
</mat-card>
<mat-card class="add-trip-card">
  <mat-card-header >
    <mat-card-title >Ruta Marcada</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-label class="row">Hora: 08:05 AM</mat-label>
    </div>
    <div>
      <mat-label class="row">Estado: La ruta ha sido seleccionada. Se va a seguir la ruta más rápida y segura, evitando tráfico y puntos de alto riesgo.</mat-label>
    </div>
    <div>
      <mat-label>Ruta Seleccionada:</mat-label>
      <mat-list role="list">
        <mat-list-item role="listitem">Punto de Origen: Planta de Producción Láctea, Lima</mat-list-item>
        <mat-list-item role="listitem">Punto de Destino: Supermercado Central, Callao</mat-list-item>
        <mat-list-item role="listitem">Distancia: 25 km</mat-list-item>
        <mat-list-item role="listitem">Tiempo Estimado de Entrega: 1 hora (prevista para las 09:05 AM)</mat-list-item>
      </mat-list>
    </div>

  </mat-card-content>

</mat-card>
<mat-card class="add-trip-card">
  <mat-card-header >
    <mat-card-title >En Tránsito</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-label>Hora: 08:10 AM</mat-label>
    <mat-label>Estado: El envío ha salido de la planta y está en tránsito.</mat-label>
    <div>
      <mat-label>Actualización en Tiempo Real:</mat-label>
      <mat-list role="list">
        <mat-list-item role="listitem">Velocidad del Vehículo: 60 km/h</mat-list-item>
        <mat-list-item role="listitem">Temperatura Interna: 4°C (Estable)</mat-list-item>
        <mat-list-item role="listitem">Nivel de Vibraciones: Mínimo (Dentro del rango seguro)</mat-list-item>
      </mat-list>
    </div>

  </mat-card-content>
</mat-card>
<mat-card class="add-trip-card">
  <mat-card-header >
    <mat-card-title >Mitigación de  Riesgo en Tránsito</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-label>Hora: 08:35 AM</mat-label>
    <mat-label>Estado: El vehículo ha reducido la velocidad debido a un tramo de carretera en mal estado, activando sistemas adicionales de control de vibraciones.</mat-label>
    <div>
      <mat-label>Actualización:</mat-label>
      <mat-list role="list">
        <mat-list-item role="listitem">Velocidad del Vehículo: 30 km/h</mat-list-item>
        <mat-list-item role="listitem">Sistema de Control de Vibraciones: Activado, nivel de vibraciones bajo control</mat-list-item>
        <mat-list-item role="listitem">Temperatura Interna: 4°C (Estable)</mat-list-item>
      </mat-list>
    </div>

  </mat-card-content>
</mat-card>

<mat-card class="add-trip-card">
  <mat-card-header >
    <mat-card-title >Llegada al Punto de Entrega</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-label>Hora: 09:00 AM</mat-label>
    <mat-label>Estado: El vehículo ha llegado al Supermercado Central en Callao.</mat-label>
    <div>
      <mat-label>Procedimientos:</mat-label>
      <mat-list role="list">
        <mat-list-item role="listitem">Inspección Rápida: Verificación de temperatura interna y estado de los productos antes de la descarga.</mat-list-item>
        <mat-list-item role="listitem">Contacto con el Encargado del Supermercado: Juan Ramírez ha sido notificado de la llegada.</mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="add-trip-card">
  <mat-card-header >
    <mat-card-title >Entrega Completa</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-label>Hora: 09:10 AM</mat-label>
    <mat-label>Estado: Los productos han sido entregados exitosamente.</mat-label>

    <div>
      <mat-label>Detalles de la Entrega:</mat-label>
      <mat-list role="list">
        <mat-list-item role="listitem">Recepción: Confirmada por Juan Ramírez</mat-list-item>
        <mat-list-item role="listitem">Temperatura al Momento de la Entrega: 4°C (Ideal)</mat-list-item>
        <mat-list-item role="listitem">Condición de los Productos: Perfecta, sin signos de daños.</mat-list-item>
      </mat-list>
    </div>

    <div>
      <mat-label>Nota de Seguridad:</mat-label>
      <mat-list role="list">
        <mat-list-item role="listitem">Cámaras y Monitoreo: Los registros de cámara muestran que no hubo incidentes durante el tránsito.</mat-list-item>
        <mat-list-item role="listitem">Confirmación de Seguridad: Todas las medidas de seguridad funcionaron correctamente.</mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="add-trip-card">
  <mat-card-header >
    <mat-card-title >Conclusión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
    <mat-label>Hora: 09:15 AM</mat-label>
      </div>
    <div>
    <mat-label>Estado: El proceso de envío ha sido completado. El conductor Carlos Pérez se está preparando para regresar a la planta de producción.</mat-label>
      </div>

  </mat-card-content>
</mat-card>
