<div class="register-container">


  <div class="register-card">
    <h2 class="register-title">Registro</h2>
    <div class="register-logo">
      <img src="assets/images/cargosafe-logo.png" alt="Logo" />
    </div>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm" class="register-form">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          type="text"
          id="name"
          [(ngModel)]="registerDTO.name"
          name="name"
          required
          placeholder="Ingresa tu nombre"
          #name="ngModel"
        />
        <mat-error *ngIf="name.invalid && (name.dirty)">
          El nombre es requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Apellido</mat-label>
        <input
          matInput
          type="text"
          id="last_name"
          [(ngModel)]="registerDTO.last_name"
          name="last_name"
          required
          placeholder="Ingresa tu apellido"
          #lastName="ngModel"
        />
        <mat-error *ngIf="lastName.invalid && (lastName.dirty)">
          El apellido es requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          id="email"
          [(ngModel)]="registerDTO.email"
          name="email"
          required
          placeholder="Ingresa tu email"
          #email="ngModel"
        />
        <mat-error *ngIf="email.invalid && (email.dirty)">
          El email es requerido y debe ser válido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Teléfono</mat-label>
        <input
          matInput
          type="text"
          id="phone"
          [(ngModel)]="registerDTO.phone"
          name="phone"
          required
          placeholder="Ingresa tu teléfono"
          #phone="ngModel"
        />
        <mat-error *ngIf="phone.invalid && (phone.dirty)">
          El teléfono es requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          id="password"
          [(ngModel)]="registerDTO.password"
          name="password"
          required
          placeholder="Ingresa tu contraseña"
          #password="ngModel"
        />
        <mat-error *ngIf="password.invalid && (password.dirty)">
          La contraseña es requerida.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Tipo de Usuario</mat-label>
        <mat-select [(ngModel)]="registerDTO['role_id']" name="role_id" required>
          <ng-container *ngFor="let role of roles">
            <mat-option *ngIf="role.name !== 'Administrador'" [value]="role.id">
              {{ role.name }}
            </mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngIf="registerForm.controls['role_id']?.invalid && registerForm.controls['role_id']?.dirty">
          El tipo de usuario es requerido.
        </mat-error>
      </mat-form-field>


      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid" class="register-button">
        Registrar
      </button>

      <div class="login-container">
        <p>¿Ya tienes una cuenta?
          <a routerLink="/login" class="login-link">Inicia sesión aquí</a>
        </p>
      </div>
    </form>
  </div>
</div>
