<div class="register-container">


  <span class="button-i18n" aria-description="switcher button for i18n">
    <app-language-switcher></app-language-switcher>
  </span>

  <div class="register-card">
    <h2 class="register-title">{{ "register" | translate }}</h2>
    <div class="register-logo">
      <img src="assets/images/cargosafe-logo.png" alt="Logo" />
    </div>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm" class="register-form">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ "name" | translate }}</mat-label>
        <input
          matInput
          type="text"
          id="name"
          [(ngModel)]="registerDTO.name"
          name="name"
          required

          #name="ngModel"
        />
        <mat-error *ngIf="name.invalid && (name.dirty)">
          {{ "t3" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ "last_name" | translate }}</mat-label>
        <input
          matInput
          type="text"
          id="last_name"
          [(ngModel)]="registerDTO.last_name"
          name="last_name"
          required

          #lastName="ngModel"
        />
        <mat-error *ngIf="lastName.invalid && (lastName.dirty)">
          {{ "last_name" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ "email" | translate }}</mat-label>
        <input
          matInput
          type="email"
          id="email"
          [(ngModel)]="registerDTO.email"
          name="email"
          required

          #email="ngModel"
        />
        <mat-error *ngIf="email.invalid && (email.dirty)">
          {{ "t1" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ "phone" | translate }}</mat-label>
        <input
          matInput
          type="text"
          id="phone"
          [(ngModel)]="registerDTO.phone"
          name="phone"
          required

          #phone="ngModel"
        />
        <mat-error *ngIf="phone.invalid && (phone.dirty)">
          {{ "t5" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ "password" | translate }}</mat-label>
        <input
          matInput
          type="password"
          id="password"
          [(ngModel)]="registerDTO.password"
          name="password"
          required

          #password="ngModel"
        />
        <mat-error *ngIf="password.invalid && (password.dirty)">
          {{ "t2" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ "user_type" | translate }}</mat-label>
        <mat-select [(ngModel)]="registerDTO['role_id']" name="role_id" required>
          <ng-container *ngFor="let role of roles">
            <mat-option *ngIf="role.name !== 'Administrador'" [value]="role.id">
              {{ role.name }}
            </mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngIf="registerForm.controls['role_id']?.invalid && registerForm.controls['role_id']?.dirty">
          {{ "t6" | translate }}
        </mat-error>
      </mat-form-field>


      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid" class="register-button">
        {{ "register" | translate }}
      </button>

      <div class="login-container">
        <p>{{ "toLogin1" | translate }}
          <a routerLink="/login" class="login-link">{{ "toLogin2" | translate }}</a>
        </p>
      </div>
    </form>
  </div>
</div>
