<mat-card class="add-trip-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>add_circle</mat-icon>
      {{ editMode ? 'Actualizar Viaje' : 'Agregar Viaje' }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #tripForm="ngForm" class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Ubicación</mat-label>
        <input matInput placeholder="Ubicación" name="location" required [(ngModel)]="trip.unload_location" #location="ngModel">
        <mat-error *ngIf="location.invalid && location.touched">Ubicación es requerida</mat-error>
        <button mat-icon-button type="button" (click)="getLocation()" aria-label="Obtener ubicación"> <!-- Cambiar type a "button" -->
          <mat-icon>my_location</mat-icon>
        </button>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Tipo de carga</mat-label>
        <input matInput placeholder="Tipo de carga" name="type" required [(ngModel)]="trip.type" #type="ngModel">
        <mat-error *ngIf="type.invalid && type.touched">Tipo de carga es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número de paquetes</mat-label>
        <input matInput placeholder="Número de paquetes" name="name" required [(ngModel)]="trip.name" #name="ngModel">
        <mat-error *ngIf="name.invalid && name.touched">Número de paquetes es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Destino</mat-label>
        <input matInput placeholder="Destino" name="destination" required [(ngModel)]="trip.destination" #destination="ngModel">
        <mat-error *ngIf="destination.invalid && destination.touched">Destino es requerido</mat-error>
        <button mat-icon-button type="button" (click)="openMap()" aria-label="Abrir mapa">
          <mat-icon>map</mat-icon>
        </button>
      </mat-form-field>


      <div fxLayout="row" fxLayoutAlign="end center" class="button-container">
        <ng-container *ngIf="editMode; else elseTemplate">
          <button mat-raised-button color="primary" [disabled]="tripForm.invalid">
            <mat-icon>update</mat-icon> Actualizar
          </button>
          <button mat-raised-button color="warn" (click)="onCancel()">
            <mat-icon>cancel</mat-icon> Cancelar
          </button>
        </ng-container>
        <ng-template #elseTemplate>
          <button mat-raised-button color="primary" [disabled]="tripForm.invalid">
            <mat-icon>add</mat-icon> Agregar
          </button>
        </ng-template>
      </div>
    </form>
  </mat-card-content>
</mat-card>
