<mat-card class="add-trip-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>add_circle</mat-icon>
      {{ 'Solicita un Viaje' }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #tripForm="ngForm" class="form-row">

      <mat-form-field appearance="outline">
        <mat-label>{{ "starting_point" | translate }}</mat-label>
        <input matInput placeholder="Punto de inicio" name="unload_direction" required [(ngModel)]="trip.unload_direction" #unloadDirection="ngModel">
        <mat-error *ngIf="unloadDirection.invalid && unloadDirection.touched">{{ "t7" | translate }}</mat-error>
        <button mat-icon-button type="button" (click)="getLocation()" aria-label="Obtener ubicación">
          <mat-icon>my_location</mat-icon>
        </button>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>{{ "type_load" | translate }}</mat-label>
        <input matInput placeholder="Tipo de carga" name="type" required [(ngModel)]="trip.type" #type="ngModel">
        <mat-error *ngIf="type.invalid && type.touched">{{ "t8" | translate }}</mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>{{ "number_packages" | translate }}</mat-label>
        <input matInput placeholder="Número de paquetes" name="name" required [(ngModel)]="trip.name" #name="ngModel">
        <mat-error *ngIf="name.invalid && name.touched">{{ "t9" | translate }}</mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>{{ "country" | translate }}</mat-label>
        <mat-select [(value)]="trip.country" name="country" required>
          <mat-option value="Perú">Perú</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>{{ "department" | translate }}</mat-label>
        <mat-select [(value)]="selectedDepartment" (selectionChange)="onDepartmentChange()" name="department" required>
          <mat-option *ngFor="let department of departments" [value]="department">{{ department }}</mat-option>
        </mat-select>
        <mat-error *ngIf="!selectedDepartment && tripForm.touched">{{ "t10" | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "district" | translate }}</mat-label>
        <mat-select [(ngModel)]="trip.district" name="district" required>
          <mat-option *ngFor="let district of districts" [value]="district">{{ district }}</mat-option>
        </mat-select>
        <mat-error *ngIf="!trip.district && tripForm.touched">{{ "t11" | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "address" | translate }}</mat-label>
        <input matInput placeholder="Destino" name="destination" required [(ngModel)]="trip.destination" #destination="ngModel">
        <mat-error *ngIf="destination.invalid && destination.touched">{{ "t12" | translate }}</mat-error>
      </mat-form-field>

      <div class="button-container">
        <ng-container *ngIf="editMode; else elseTemplate">
          <button mat-raised-button color="primary" [disabled]="tripForm.invalid">
            <mat-icon>update</mat-icon> {{ "update" | translate }}
          </button>
          <button mat-raised-button color="warn" (click)="onCancel()">
            <mat-icon>cancel</mat-icon> {{ "cancel" | translate }}
          </button>
        </ng-container>
        <ng-template #elseTemplate>
          <button mat-raised-button color="primary" [disabled]="tripForm.invalid">
            <mat-icon>add</mat-icon> {{ "add" | translate }}
          </button>
        </ng-template>
      </div>
    </form>
  </mat-card-content>
</mat-card>
