<mat-card-title class="mat-title-medium">{{ "scheduled_merchandise" | translate }}</mat-card-title>
<div class="container">
<mat-card *ngFor="let merch of merchandises" class="merch-card">
  <mat-card-content>
    <p>{{ "delivery_address" | translate }}: {{merch.direction}}</p>
    <p>{{ "type_cargo" | translate }}: {{merch.type}}</p>
    <p>{{ "transportation_cost" | translate }}: {{merch.travel_price}}</p>
    <p>{{ "transported_product" | translate }}: {{merch.product}}</p>
    <p>{{ "cargo_quantity" | translate }}: {{merch.amount}}</p>
    <p>{{ "delivery_date" | translate }}: {{merch.date}}</p>
    <p>{{ "special_conditions" | translate }}: {{merch.special_conditions}}</p>
    <mat-button-toggle class="ubication-button">{{ "view_location" | translate }}</mat-button-toggle>
  </mat-card-content>
</mat-card>
</div>
