<div class="login-container">
  <div class="login-card">
    <div class="login-logo">
      <img src="assets/images/cargosafe-logo.png" alt="Logo" />
    </div>
    <h2 class="login-title">Iniciar Sesión</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="login-form">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          id="email"
          [(ngModel)]="loginDTO.email"
          name="email"
          required
          placeholder="Ingresa tu email"
          #email="ngModel" />
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
          El email es requerido y debe ser válido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          id="password"
          [(ngModel)]="loginDTO.password"
          name="password"
          required
          placeholder="Ingresa tu contraseña"
          #password="ngModel" />
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
          La contraseña es requerida.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="login-button">
        Iniciar Sesión
      </button>

      <div class="register-container">
        <p>¿No tienes una cuenta?
          <a routerLink="/register" class="register-link">Regístrate aquí</a>
        </p>
      </div>
    </form>
  </div>
</div>
