<app-toolbar-content></app-toolbar-content>

<div class="trip-management-container">
  <div class="search">
    <input type="text" class="search__input" placeholder="Search by ID" [(ngModel)]="searchId">
    <button class="search__button" (click)="applyFilter()">
      <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
        <g>
          <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
        </g>
      </svg>
    </button>
  </div>
  <mat-card class="trip-table-card">
    <mat-card-title class="trip-mat-card-title">Lista de Viajes</mat-card-title>
    <div class="table-wrapper">
      <table mat-table [dataSource]="trips" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let trip"> {{ trip.id }} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
          <td mat-cell *matCellDef="let trip"> {{ trip.holderName }} </td>
        </ng-container>
        <ng-container matColumnDef="destination">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Destino </th>
          <td mat-cell *matCellDef="let trip"> {{ trip.destinationAddress }} </td>
        </ng-container>
        <ng-container matColumnDef="unload_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Descarga </th>
          <td mat-cell *matCellDef="let trip"> {{ trip.unloadDate    | date }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let trip" class="action-buttons">




            <button class="btn-class-name" (click)="openAssignDialog(trip)">
              Agregar
            </button>



          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
</div>
