<div class="notification-panel">
  <div class="panel-header">Notificaciones</div>
  <div class="notification-item" *ngFor="let request of requests; let i = index">
    <div class="notification-details">
      <span class="notification-type">{{ request.holderName }}</span>
      <span class="notification-destination">{{ request.destination }}</span>
      <span class="notification-date">
  {{ request.unloadDate && !isNaN(Date.parse(request.unloadDate)) ? (request.unloadDate | date: 'shortDate' : undefined : 'en-US') : 'Invalid Date' }}
</span>
    </div>
    <button class="view-more-btn" (click)="viewMore()">Ver más</button>
    <button class="delete-btn" (click)="deleteNotification(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
