<app-toolbar-content></app-toolbar-content>
<div class="vehicle-form-container">
  <h2>Agregar Vehículo</h2>
  <form (submit)="onSubmit()" #vehicleForm="ngForm" class="vehicle-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Modelo</mat-label>
      <input matInput placeholder="Modelo del vehículo" name="model" required [(ngModel)]="vehicle.model">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Placa</mat-label>
      <input matInput placeholder="Placa del vehículo" name="plate" required [(ngModel)]="vehicle.plate">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Carga Máxima (kg)</mat-label>
      <input matInput placeholder="Ej: 1500" name="max_load" type="number" required [(ngModel)]="vehicle.max_load">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Volumen (m³)</mat-label>
      <input matInput placeholder="Ej: 12.5" name="volume" type="number" required [(ngModel)]="vehicle.volume">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>URL de Imagen</mat-label>
      <input matInput placeholder="URL de la imagen del vehículo" name="url_image" [(ngModel)]="vehicle.url_image">
    </mat-form-field>
    <div class="button-group">
      <button mat-raised-button color="accent" class="btn-submit">Agregar</button>

    </div>
  </form>
</div>
