<app-toolbar-content></app-toolbar-content>

<div class="vehicle-form-container">
  <h2 class="form-title">{{ "add_vehicle" | translate }}</h2>
  <form (submit)="onSubmit()" #vehicleForm="ngForm" class="vehicle-form">

    <mat-form-field appearance="outline" class="full-width mat-elegant-field">
      <mat-label>{{ "model" | translate }}</mat-label>
      <input matInput placeholder="Modelo del vehículo" name="model" required [(ngModel)]="vehicle.model">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width mat-elegant-field">
      <mat-label>{{ "plate" | translate }}</mat-label>
      <input matInput placeholder="Placa del vehículo" name="plate" required [(ngModel)]="vehicle.plate">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width mat-elegant-field">
      <mat-label>{{ "maximum_load" | translate }} (kg)</mat-label>
      <input matInput placeholder="Ej: 1500" name="max_load" type="number" required [(ngModel)]="vehicle.max_load">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width mat-elegant-field">
      <mat-label>{{ "volume" | translate }} (m³)</mat-label>
      <input matInput placeholder="Ej: 12.5" name="volume" type="number" required [(ngModel)]="vehicle.volume">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width mat-elegant-field">
      <mat-label>{{ "image_url" | translate }}</mat-label>
      <input matInput placeholder="URL de la imagen del vehículo" name="url_image" [(ngModel)]="vehicle.url_image">
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" class="btn-submit">{{ "add" | translate }}</button>
      <button mat-button color="warn" class="btn-cancel" (click)="onCancel()">{{ "cancel" | translate }}</button>
    </div>
  </form>
</div>
