<app-toolbar-entrepreneur-content></app-toolbar-entrepreneur-content>

<section id="home" class="hero">
  <div class="container">
    <h1 class="hero-title">Bienvenido a CargoSafe</h1>
    <p class="hero-subtitle">Soluciones logísticas seguras y eficientes para tu negocio</p>

    <div class="botnsito">
      <button  routerLink="/request/trip/new" class="btn-class-name">
        Solicitar Nuevo Viaje
      </button>
    </div>
  </div>
</section>



<section id="services" class="services">



  <div class="container">
    <h2 class="section-title">Nuestros Servicios</h2>
    <div class="services-grid">
      <div class="service-card">
        <img src="assets/images/requesimage.png" alt="Ver Historial">

        <button routerLink="/list-request-history" class="btn-class-name">Ver Historial</button>
      </div>
      <div class="service-card">
        <img src="assets/images/las-compras-en-linea.png" alt="Solicitar Servicio">

        <button routerLink="/request/trip/new" class="btn-class-name">Solicitar Servicio</button>
      </div>
      <div class="service-card">
        <img src="assets/images/salario.png" alt="Pagar Viajes Aceptados">

        <button routerLink="/payment" class="btn-class-name">Pagar Viajes Aceptados</button>
      </div>
    </div>
  </div>
</section>
