.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container mat-card {
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.register-company {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.register-company mat-form-field {
  width: 100%;
  --mdc-outlined-text-field-focus-outline-color: #fffe55;
  --mdc-outlined-text-field-focus-label-text-color: #000000;
}

.title {
  margin: 5px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: x-large;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.cancel-button {
  background-color: #000000;
  color: #FFFFFF;
  width: 45%;
}

.register-button {
  background-color: #fffe55;
  color: #000000;
  width: 45%;
}

button {
  height: 40px;
  margin: 12px;
  font-weight: bold;
  border-radius: 5px;
}

button:enabled {
  color: white;
}

@media (max-width: 850px) {
  .container mat-card {
    width: 80%;
  }
}

@media (max-width: 375px) {
  .container mat-card {
    width: 100%;
  }
}
