<div class="drivers-form-container">
  <form (submit)="onSubmit()" #driverForm="ngForm" class="driver-form">
    <h2>{{ editMode ? 'Edit Driver' : 'Add Driver' }}</h2>

    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" name="name" required [(ngModel)]="driver.name" #name="ngModel">
      <mat-error *ngIf="name.invalid && name.touched">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>DNI</mat-label>
      <input matInput placeholder="DNI" name="dni" required [(ngModel)]="driver.dni" #dni="ngModel">
      <mat-error *ngIf="dni.invalid && dni.touched">DNI is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" name="phone" required [(ngModel)]="driver.phone" #phone="ngModel">
      <mat-error *ngIf="phone.invalid && phone.touched">Phone is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>License</mat-label>
      <input matInput placeholder="License" name="license" required [(ngModel)]="driver.license" #license="ngModel">
      <mat-error *ngIf="license.invalid && license.touched">License is required</mat-error>
    </mat-form-field>

    <div class="button-group">
      <ng-container *ngIf="editMode; else addTemplate">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </ng-container>
      <ng-template #addTemplate>
        <button mat-raised-button color="primary">Add</button>
      </ng-template>
    </div>
  </form>
</div>
