<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <div class="toolbar-content">
    <img src="./assets/images/cargosafe-logo.png" class="issuer-img" alt="CargoSafe Logo" />
    <p class="header-title" aria-label="title">CargoSafe</p>
  </div>

  <span class="spacer"></span>

  <nav class="toolbar-nav">
    <button mat-button routerLink="/ordersOnTrip">
      <mat-icon>assignment</mat-icon>
      <span class="nav-text">Registro</span>
    </button>
    <button mat-button routerLink="/drivers/management">
      <mat-icon>people</mat-icon>
      <span class="nav-text">Conductores</span>
    </button>
    <button mat-button routerLink="/vehicles/management">
      <mat-icon>local_shipping</mat-icon>
      <span class="nav-text">Vehículos</span>
    </button>
  </nav>

  <span class="button-i18n" aria-description="switcher button for i18n">
    <app-language-switcher></app-language-switcher>
  </span>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Perfil">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Configuración</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
  <button mat-icon-button aria-label="Notificaciones">
    <mat-icon>notifications</mat-icon>
  </button>
</mat-toolbar>
