<app-toolbar-content></app-toolbar-content>
<div class="driver-management-container">
  <app-drivers-create-and-edit
    (cancelRequested)="onCancelRequested()"
    (driverAddRequested)="onDriverAddRequested($event)"
    (driverUpdateRequested)="onDriverUpdateRequested($event)"
    [driver]="driverData"
    [editMode]="editMode">
  </app-drivers-create-and-edit>

  <!-- Driver Table -->
  <mat-card class="driver-table-card">
    <mat-card-title class="driver-mat-card-title">Driver List</mat-card-title>
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let driver"> {{ driver.id }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let driver"> {{ driver.name }} </td>
        </ng-container>

        <!-- DNI Column -->
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
          <td mat-cell *matCellDef="let driver"> {{ driver.dni }} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let driver"> {{ driver.phone }} </td>
        </ng-container>

        <!-- License Column -->
        <ng-container matColumnDef="license">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> License </th>
          <td mat-cell *matCellDef="let driver"> {{ driver.license }} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let driver">
            <button mat-icon-button color="primary" (click)="onEditItem(driver)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeleteItem(driver)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Row Definition -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
</div>
