<app-toolbar-entrepreneur-content></app-toolbar-entrepreneur-content>
<div class="profile-container">
  <div class="profile-header">
    <img [src]="profileForm.get('postalCode')?.value || 'https://i.pinimg.com/originals/c7/f5/78/c7f578937fdc07702eacff129b4107f7.png'" alt="Profile Avatar" class="profile-avatar" />
    <div class="profile-info">
      <h2 class="profile-name">{{ profile?.firstName  }}{{ profile?.lastName  }}</h2>
      <p class="profile-role">{{ profile?.street }}</p>
      <div class="profile-buttons">

      </div>
    </div>
  </div>

  <div class="tabs">
    <span class="tab active">Edit Profile</span>
  </div>

  <div class="edit-profile-section">
    <h3>Edit Profile</h3>
    <p>Update profile picture, full name, username, biography, contact information, and recent activity or posts</p>
    <form class="edit-form" [formGroup]="profileForm" (ngSubmit)="onUpdate()">
      <label>Avatar URL</label>
      <input type="text" placeholder="Avatar URL" formControlName="postalCode" />

      <label>Biography</label>
      <textarea placeholder="Biography" formControlName="street"></textarea>

      <label>First Name</label>
      <input type="text" placeholder="First Name" formControlName="firstName" />

      <label>Last Name</label>
      <input type="text" placeholder="Last Name" formControlName="lastName" />

      <label>Email</label>
      <input type="email" placeholder="Email" formControlName="email" />


      <label>Number</label>
      <input type="text" placeholder="Number" formControlName="number" />

      <label>City</label>
      <input type="text" placeholder="City" formControlName="city" />


      <label>Country</label>
      <input type="text" placeholder="Country" formControlName="country" />

      <button type="submit" class="update-btn">Update</button>
    </form>
  </div>
</div>
