<div class="notification-panel">
  <div class="panel-header">
    <span>Notificaciones</span>
  </div>
  <div class="notification-item" *ngFor="let trip of trips; let i = index">
    <div class="notification-details">
      <span class="notification-type">{{ trip.holderName }}</span>
      <span class="notification-destination">{{ trip.destination }}</span>
      <span class="notification-date">{{ trip.unloadDate | date: 'shortDate' }}</span>
    </div>
    <button class="view-more-btn" (click)="viewMore()">Ver más</button>
    <button class="delete-btn" (click)="deleteNotification(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
