.notification-panel {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.panel-header {
  background-color: #fffc00;

  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}

.notification-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
  transition: background-color 0.2s;
}


.notification-item:last-child {
  border-bottom: none;
}

.notification-item:hover {
  background-color: #f9f9f9;
}

.notification-details {
  flex: 1;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.notification-type {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}

.notification-destination {
  font-size: 14px;
  color: #666666;
}

.notification-date {
  font-size: 13px;
  color: #999999;
}

.view-more-btn {
  background-color: #fffc00;
  border: none;

  border-radius: 6px;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
}

.view-more-btn:hover {
  background-color: #d0ce00;
}

.delete-btn {
  background-color: #ff4444;
  border: none;
  margin-left: 10px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
}

.delete-btn mat-icon {
  font-size: 20px;
}

.delete-btn:hover {
  background-color: #d32f2f;
  transform: scale(1.1);
}

.delete-btn:active {
  background-color: #b71c1c;
  transform: scale(1);
}
