<app-toolbar-content></app-toolbar-content>

<section id="home" class="hero">
  <div class="container">
    <h1 class="hero-title">Bienvenido a CargoSafe</h1>
    <p class="hero-subtitle">Soluciones logísticas seguras y eficientes para tu empresa</p>

    <div class="botnsito">
      <button routerLink="/add-trip-details" class="btn-class-name">
        Gestionar Viajes
      </button>
    </div>
  </div>
</section>

<section id="services" class="services">
  <div class="container">
    <h2 class="section-title">Nuestros Servicios</h2>
    <div class="services-grid">
      <div class="service-card">
        <img src="assets/images/conductor.png" alt="Ver Historial">
        <button routerLink="/drivers/management" class="btn-class-name">Administra  tus Conductores</button>
      </div>
      <div class="service-card">
        <img src="assets/images/gps.png" alt="Solicitar Servicio">
        <button routerLink="/list-request-trip" class="btn-class-name">Administra tus solicitudes de servicio</button>
      </div>
      <div class="service-card">
        <img src="assets/images/gestion-de-flotas.png" alt="Pagar Viajes Aceptados">
        <button routerLink="/vehicles/management" class="btn-class-name">Gestiona tus vehiculos</button>
      </div>
    </div>
  </div>
</section>
