.add-trip-card {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  background-color: #fafafa;
  transition: transform 0.3s ease;
}



mat-card-header {
  background-color: #f1f500;
  color: #0E0D0B;
  padding: 24px;
  border-radius: 8px 8px 0 0;
}

mat-card-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

mat-card-title mat-icon {
  margin-right: 12px;
  font-size: 2rem;
}

mat-card-content {
  padding: 16px;
  background-color: #ffffff;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
}

mat-form-field.mat-focused .mat-form-field-label {
  color: #f1f500 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-color: #f1f500;
}

mat-error {
  color: #e53935;
  font-size: 0.9rem;
}

.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}



button mat-icon {
  margin-right: 5px;
}

button:disabled {
  background-color: #ccc;
  color: #fff;
}

@media (max-width: 600px) {
  .add-trip-card {
    padding: 15px;
    margin: 10px;
  }

  mat-card-header {
    padding: 20px;
  }

  mat-form-field {
    margin-bottom: 16px;
  }

  .button-container {

  }

  button {
    width: 100%;

  }
}
